## Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Analyse exploratoire

In [5]:
df = pd.read_csv("vehicles.csv")

In [6]:
# Afficher les cinq premières lignes du df
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [7]:
# Afficher les cinq dernières lignes du df
df.tail()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
426875,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [8]:
# Affciher les lignes du df, aléatoirement
df.sample(n=10)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
159928,7311771881,https://masoncity.craigslist.org/ctd/d/atlanta...,mason city,https://masoncity.craigslist.org,29590,2017.0,ford,expedition xlt sport,good,6 cylinders,...,NaN,SUV,blue,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,NaN,ia,33.786500,-84.445400,2021-04-24T06:12:46-0500
378677,7313359355,https://mcallen.craigslist.org/cto/d/alamo-for...,mcallen / edinburg,https://mcallen.craigslist.org,1,1997.0,ford,f250 xlt,NaN,NaN,...,NaN,truck,NaN,https://images.craigslist.org/00A0A_ZaSvhNnSYc...,1997 Ford F-250 powerstroke diesel for sale 4 ...,NaN,tx,26.204400,-98.153700,2021-04-27T11:07:03-0500
319334,7314979287,https://medford.craigslist.org/cto/d/ashland-1...,medford-ashland,https://medford.craigslist.org,18000,1972.0,chevrolet,c-10,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00s0s_4jBuWdML03...,one owner c-10 short bed stepside. 350 ramjet ...,NaN,or,42.188500,-122.693000,2021-04-30T12:46:05-0700
182434,7310797642,https://baltimore.craigslist.org/ctd/d/glen-bu...,baltimore,https://baltimore.craigslist.org,25765,2014.0,jeep,wrangler unlimited,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00C0C_6PwXFFXGgL...,Browns Honda City address: 712 N Crain Hwy ...,NaN,md,39.176344,-76.617998,2021-04-22T09:49:30-0400
80141,7306928908,https://fortcollins.craigslist.org/cto/d/lovel...,fort collins / north CO,https://fortcollins.craigslist.org,18500,1981.0,fiat,pininfarina spider,like new,4 cylinders,...,compact,convertible,custom,https://images.craigslist.org/00U0U_1ugz3GuRWq...,1981 Fiat Pininfarina Spider 50th Anniversary ...,NaN,co,40.450709,-105.115471,2021-04-14T16:12:45-0600
59917,7314059609,https://santamaria.craigslist.org/ctd/d/los-an...,santa maria,https://santamaria.craigslist.org,35000,2015.0,mercedes-benz,benz sprinter 2500 ext,excellent,4 cylinders,...,NaN,van,white,https://images.craigslist.org/00m0m_1vuCRDj0B4...,"LA TRUCK GUY 1211 WEST EL SEGUNDO BLVD, GARDEN...",NaN,ca,33.916305,-118.296520,2021-04-28T14:42:20-0700
87426,7304223643,https://newhaven.craigslist.org/ctd/d/new-have...,new haven,https://newhaven.craigslist.org,25990,2016.0,toyota,tacoma access cab sr5,good,NaN,...,NaN,pickup,silver,https://images.craigslist.org/00w0w_bJYQv4CFjd...,Carvana is the safer way to buy a car During t...,NaN,ct,41.310000,-72.920000,2021-04-09T12:51:19-0400
81196,7311592765,https://pueblo.craigslist.org/ctd/d/pueblo-201...,pueblo,https://pueblo.craigslist.org,8500,2013.0,ford,edge sel,good,6 cylinders,...,NaN,NaN,NaN,https://images.craigslist.org/00M0M_jEN1EkZSqo...,"STOCK#6312 2013 FORD EDGE SEL $8,500 DEALER DE...",NaN,co,38.436857,-104.617504,2021-04-23T15:40:41-0600
377547,7316191168,https://laredo.craigslist.org/ctd/d/liberty-hi...,laredo,https://laredo.craigslist.org,46995,2014.0,ford,f250 platinum 4x4,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00808_hxHMwjOzuF...,CALL OR TEXT 512-914-8066 www.GETADIESEL.com ...,NaN,tx,30.663000,-97.931600,2021-05-03T09:47:33-0500
126888,7309160947,https://savannah.craigslist.org/ctd/d/savannah...,savannah / hinesville,https://savannah.craigslist.org,31590,2019.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,hatchback,black,https://images.craigslist.org/00v0v_Nmw3hmqa7i...,Carvana is the safer way to buy a car During t...,NaN,ga,32.080000,-81.100000,2021-04-19T08:46:59-0400

In [9]:
# Dimension du df c-a-d le nombre de lignes et colonnes
df.shape

(426880, 26)

In [10]:
# Nombre de colonnes dans df
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [11]:
# Le type de données de chaque colonne du df
df.dtypes

id                int64
url              object
region           object
region_url       object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
posting_date     object
dtype: object

La commande ci-dessous, nous me permet d'avoir des informations sur le dataset comme le type de données et le nombre total des valeurs non nulles dans chaque colonne.

Cela nous permet didentifier les valeurs manquantes et les types de données incorrectes

In [12]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [13]:
#Statistiques descriptives pour les colonnes numériques (moyenne, écart-type, min, max, quartiles)
df.describe()

,id,price,year,odometer,county,lat,long
count,4.268800e+05,4.268800e+05,425675.000000,4.224800e+05,0.0,420331.000000,420331.000000
mean,7.311487e+09,7.519903e+04,2011.235191,9.804333e+04,NaN,38.493940,-94.748599
std,4.473170e+06,1.218228e+07,9.452120,2.138815e+05,NaN,5.841533,18.365462
min,7.207408e+09,0.000000e+00,1900.000000,0.000000e+00,NaN,-84.122245,-159.827728
25%,7.308143e+09,5.900000e+03,2008.000000,3.770400e+04,NaN,34.601900,-111.939847
50%,7.312621e+09,1.395000e+04,2013.000000,8.554800e+04,NaN,39.150100,-88.432600
75%,7.315254e+09,2.648575e+04,2017.000000,1.335425e+05,NaN,42.398900,-80.832039
max,7.317101e+09,3.736929e+09,2022.000000,1.000000e+07,NaN,82.390818,173.885502

In [14]:
# Statistiques descriptives pour des colonnes catégorielles (nombre de valeurs uniques, fréquence des plus courantes).
df.describe(include='object')

,url,region,region_url,manufacturer,model,condition,cylinders,fuel,title_status,transmission,VIN,drive,size,type,paint_color,image_url,description,state,posting_date
count,426880,426880,426880,409234,421603,252776,249202,423867,418638,424324,265838,296313,120519,334022,296677,426812,426810,426880,426812
unique,426880,404,413,42,29667,6,8,5,6,3,118264,3,4,13,12,241899,360911,51,381536
top,https://wyoming.craigslist.org/ctd/d/atlanta-2...,columbus,https://spokane.craigslist.org,ford,f-150,good,6 cylinders,gas,clean,automatic,1FMJU1JT1HEA52352,4wd,full-size,sedan,white,https://images.craigslist.org/00N0N_1xMPvfxRAI...,35 VEHICLES PRICED UNDER $3000!!! BIG TIME! T...,ca,2021-04-23T22:13:05-0400
freq,1,3608,2988,70985,8009,121456,94169,356209,405117,336524,261,131904,63465,87056,79285,7357,231,50614,12

## Nettoyage

Cette partie consiste à manipuler le dataset dans le but de le nettoyer et de le traiter.

Pour ce faire, nous allons procéder en gérant les valeurs manquantes, doublons, abbérantes et corriger si nécessaire les types de données des colonnes non conformes

### Gestion des valeurs manquantes

In [15]:
# Verifier la présence des valeurs manaquantes

valeurs_manquantes = df.isnull().sum()
print(valeurs_manquantes)

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64


#### Selectionner les variables non pertinentes 

Ce son celles qui ne sont assez décisif pour acheter une voiture puis à les retirer du dataset.

Ces variables sont :

*County* qui n'a aucunes données, spécifie à renseigner le lieu où l'annonce a été postée.

*Size* qui contient beaucoup de valeurs manquantes d'ordre 300k, est une variable qu'on peut s'empasser lors des analyses car la variable *Type* donne l'information sur le design du véhicule.

*VIN* présente beaucoup de NA d'ordre 100k, n'est nécessaire pour l'analyse car elle symbolise le matricule de la voiture. Le matricule d'une voiture est une donnée qui peut être changeable par son nouveau propriétaire.

*Description*  n'a pas de pertinence car elle est similaire à page 'à propos' d'un site. Elle n'apporte pas d'information cruciale sur le véhicule.

*lat & long* represente les coordonnées géographiques de l'endroit où l'annonce a été faite.

*image_url* non nécessaire pour l'analyse, aussi les liens sont non fonctionnels qui peut être du au fait que l'annonce ait été retiré par l'achat du vehicule ou pas.

Enfin les variables *id, url, region, et region_url* certe n'ont aucune valeurs manquantes cependant elles servent à titre d'identifier ou de référence de l'annonce.

In [17]:
colonnes_a_supprimer = df[['VIN', 'description', 'county', 'id','lat', 'long', 
                           'size', 'url', 'region', 'region_url', 'image_url']]

In [18]:
colonnes_a_supprimer

,VIN,description,county,id,lat,long,size,url,region,region_url,image_url
0,NaN,NaN,NaN,7222695916,NaN,NaN,NaN,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,NaN
1,NaN,NaN,NaN,7218891961,NaN,NaN,NaN,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,NaN
2,NaN,NaN,NaN,7221797935,NaN,NaN,NaN,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,NaN
3,NaN,NaN,NaN,7222270760,NaN,NaN,NaN,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,NaN
4,NaN,NaN,NaN,7210384030,NaN,NaN,NaN,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,NaN
...,...,...,...,...,...,...,...,...,...,...,...
426875,1N4AA6AV6KC367801,Carvana is the safer way to buy a car During t...,NaN,7301591192,33.786500,-84.445400,NaN,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,https://images.craigslist.org/00o0o_iiraFnHg8q...
426876,7JR102FKXLG042696,Carvana is the safer way to buy a car During t...,NaN,7301591187,33.786500,-84.445400,NaN,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,https://images.craigslist.org/00x0x_15sbgnxCIS...
426877,1GYFZFR46LF088296,Carvana is the safer way to buy a car During t...,NaN,7301591147,33.779214,-84.411811,NaN,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,https://images.craigslist.org/00L0L_farM7bxnxR...
426878,58ABK1GG4JU103853,Carvana is the safer way to buy a car During t...,NaN,7301591140,33.786500,-84.445400,NaN,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,https://images.craigslist.org/00z0z_bKnIVGLkDT...
426879,WBA4J1C58KBM14708,Carvana is the safer way to buy a car During t...,NaN,7301591129,33.779214,-84.411811,NaN,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,https://images.craigslist.org/00Y0Y_lEUocjyRxa...

In [19]:
df.drop(colonnes_a_supprimer, axis=1, inplace=True)

In [ ]:
df

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,posting_date
0,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN
1,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN
2,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN
3,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN
4,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,gas,32226.0,clean,other,fwd,sedan,NaN,wy,2021-04-04T03:21:31-0600
426876,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,gas,12029.0,clean,other,fwd,sedan,red,wy,2021-04-04T03:21:29-0600
426877,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,diesel,4174.0,clean,other,NaN,hatchback,white,wy,2021-04-04T03:21:17-0600
426878,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,other,fwd,sedan,silver,wy,2021-04-04T03:21:11-0600
426879,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,gas,22716.0,clean,other,rwd,coupe,NaN,wy,2021-04-04T03:21:07-0600

#### Etudier  des imputations dans les varaibles 
##### Analyse des variables title_status et condition

Les variables title_status et condition donnent la même information sur l'état du véhicule. Cependant les valeurs de la colonne *title_status* sont plus réalistes que l'autre colonne.

En effet, *title_status* ces observations sont objectives tandis que celles de *condition* sont subjectives c'est à dire basées sur le point de vue du vendeur.

In [20]:
df['title_status'].unique()

array([nan, 'clean', 'rebuilt', 'lien', 'salvage', 'missing',
       'parts only'], dtype=object)

In [ ]:
df['condition'].unique()

array([nan, 'good', 'excellent', 'fair', 'like new', 'new', 'salvage'],
      dtype=object)

*Qu'est-ce qu'une Matrice de Contingence ?*

Une matrice de contingence (ou tableau croisé dynamique) est un tableau qui affiche la distribution conjointe de deux variables catégorielles (ou qualitatives). 

En d'autres termes, elle permet de comprendre comment les fréquences d'une catégorie d'une variable se répartissent selon les catégories d'une autre variable.

In [ ]:
print("\nMatrice de contingence entre title_status et condition:")
contingency_table = pd.crosstab(df['title_status'], df['condition'])
print(contingency_table)

Matrice de contingence entre title_status et condition:
condition     excellent  fair    good  like new   new  salvage
title_status
clean             91734  6156  118461     19870  1226      225
lien                586    47     389       265    25        3
missing              57   188     208         8     5       49
parts only           18    27      29         9     4       41
rebuilt            2823   142    1362       791    30       23
salvage             880   209     893       235    15      260

Le constat montre qu'il y a de forte corrélation, ce qui permet de faire de l'imputation conditionnelle afin de compléter les valeurs NAN de la colonne *condition*

Par exemple, nous constatons que:
- 91734 voitures sont à la fois *clean et excellent*
- 118 461 voitures sont à la fois "clean et good"

La plupart des voitures sont en *excellent, good* soit en statut *clean* au lieu de *salvage*

In [ ]:
print("\nMatrice de contingence entre title_status et condition avec NaN:")
contingency_table = pd.crosstab(df['title_status'], df['condition'], dropna=False)
print(contingency_table)

Matrice de contingence entre title_status et condition avec NaN:
condition     excellent  fair    good  like new   new  salvage     NaN
title_status
clean             91734  6156  118461     19870  1226      225  167445
lien                586    47     389       265    25        3     107
missing              57   188     208         8     5       49     299
parts only           18    27      29         9     4       41      70
rebuilt            2823   142    1362       791    30       23    2048
salvage             880   209     893       235    15      260    1376
NaN                5369     0     114         0     0        0    2759

Etant donnée que ces deux variables sont corrélées, on peut utiliser l'approche d'imputer les valeurs d'une variable en fonction des valeurs de l'autre variable. Cela s'appelle *l'imputation conditionnelle*

In [21]:
# Imputer les valeurs NA de title_status par missing 
# qui renvoit unknown (non-renseigné)

df['title_status'] = df['title_status'].fillna('missing')

In [22]:
#vérifier
df['title_status'].isna().sum()

np.int64(0)

**Explication du code**

Dans la logique, un véhicule présentant un état de statut 'salvage ou endommagé', nous permet de présumer que sa condition sera aussi en mauvaise état qui correspond dans la variable *condition* à 'fear' ou 'salvage'


On selectionne les lignes qui ont d'une part une valeur **'NA'** dans la colonne *condition* et d'autre part une valeur **'salvage'** dans la colonne *title_status*

Dans l'affichage, seule la colonne **condition** appraitra vu qu'elle est renseigné comme deuxième argument de la location (loc) qui sera affecté par les valeurs *salvage* dans les champs NA.

De même avec une valeur *part_only* de la colonne *title_status* va plus correspondre à une condition *salvage ou fear*

In [23]:

df.loc[(df['condition'].isnull()) & (df['title_status'] == 'salvage'), 'condition'] = 'salvage'

In [24]:
df.loc[(df['condition'].isnull()) & (df['title_status'] == 'parts only'), 'condition'] = 'salvage' # ou 'fair'

In [ ]:
print("\nMatrice de contingence entre title_status et condition avec NaN après traitement:")
contingency_table = pd.crosstab(df['title_status'], df['condition'], dropna=False)
print(contingency_table)

Matrice de contingence entre title_status et condition avec NaN:
condition     excellent  fair    good  like new   new  salvage     NaN
title_status
clean             91734  6156  118461     19870  1226      225  167445
lien                586    47     389       265    25        3     107
missing            5426   188     322         8     5       49    3058
parts only           18    27      29         9     4      111       0
rebuilt            2823   142    1362       791    30       23    2048
salvage             880   209     893       235    15     1636       0

In [25]:
#la méthode .mode() prend la valeur la plus fréquente
df['condition'] = df.groupby('title_status')['condition'].transform(
    lambda x: x.fillna(x.mode()[0] 
                       if not x.mode().empty else 'unknown condition'))

In [26]:
print("\nMatrice de contingence entre title_status et condition avec NaN après traitement:")
contingency_table = pd.crosstab(df['title_status'], df['condition'], dropna=False)
print(contingency_table)

Matrice de contingence entre title_status et condition avec NaN après traitement:
condition     excellent  fair    good  like new   new  salvage
title_status
clean             91734  6156  285906     19870  1226      225
lien                693    47     389       265    25        3
missing            8484   188     322         8     5       49
parts only           18    27      29         9     4      111
rebuilt            4871   142    1362       791    30       23
salvage             880   209     893       235    15     1636

In [30]:
valeurs_manquantes = df.isnull().sum()
print(valeurs_manquantes)

price                0
year              1205
manufacturer     17646
model             5277
condition            0
cylinders       177678
fuel              3013
odometer          4400
title_status         0
transmission      2556
drive           130567
type             92858
paint_color     130203
state                0
posting_date        68
dtype: int64

In [27]:
df.sort_values(by='odometer')

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,posting_date
155630,0,2006.0,ford,f550,good,NaN,diesel,0.0,clean,other,NaN,other,white,ia,2021-04-15T16:40:01-0500
56421,9900,2015.0,chrysler,200,excellent,4 cylinders,gas,0.0,clean,automatic,fwd,sedan,grey,ca,2021-04-30T22:12:29-0700
205001,0,2014.0,ford,f550 4x4,good,NaN,diesel,0.0,clean,other,NaN,other,white,mi,2021-04-12T15:14:02-0400
166284,4499,1996.0,NaN,Sea Ray Sea Ray,good,NaN,gas,0.0,clean,other,NaN,other,white,ks,2021-04-25T17:01:34-0500
56420,10900,2010.0,buick,enclave,excellent,6 cylinders,gas,0.0,clean,automatic,4wd,wagon,custom,ca,2021-04-30T22:12:32-0700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421748,0,2014.0,volkswagen,passat,good,4 cylinders,gas,NaN,clean,automatic,fwd,sedan,silver,wi,2021-04-08T10:30:19-0500
421780,0,2021.0,chevrolet,5500 4 x 4 chassis,new,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,wi,2021-04-08T07:45:27-0500
423072,1400,2003.0,cadillac,deville,good,NaN,gas,NaN,clean,automatic,NaN,sedan,white,wi,2021-04-29T13:20:38-0500
423127,4500,2011.0,buick,enclave,good,NaN,gas,NaN,clean,automatic,fwd,SUV,black,wi,2021-04-29T08:30:28-0500
424638,3900,2004.0,infiniti,fx35,good,NaN,gas,NaN,clean,automatic,4wd,wagon,NaN,wi,2021-04-17T14:21:47-0500

On constate qu'il y'a des kilométrages qui sont nulles sachant que nous faisons face à des voitures d'occasion. Dans la logique, les voitures doivent avoir un kilométrage supérieur à 0.

Etant donnée que ces lignes sont minimes dans le dataset alors on peut les retirer car elles peuvent induire en erreur par le fait que ces informations ne sont pas adéquates. De plus leur prix sont inférieurs à 0.

In [31]:
requete = df['odometer'] == 0
df[requete]

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,posting_date
538,0,2012.0,chevrolet,silverado 2500hd,good,8 cylinders,NaN,0.0,clean,automatic,rwd,NaN,white,al,2021-04-27T19:50:22-0500
563,0,2006.0,ford,f550,good,NaN,diesel,0.0,clean,other,NaN,other,white,al,2021-04-27T14:10:03-0500
694,3980,2013.0,kia,rio,excellent,4 cylinders,gas,0.0,missing,manual,fwd,sedan,white,al,2021-04-24T13:50:11-0500
889,0,2006.0,jeep,liberty,good,6 cylinders,gas,0.0,clean,automatic,4wd,SUV,red,al,2021-04-22T17:40:42-0500
985,0,2011.0,chevrolet,cruze,good,4 cylinders,gas,0.0,clean,automatic,rwd,sedan,red,al,2021-04-20T13:20:43-0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425904,0,2014.0,ram,NaN,good,NaN,diesel,0.0,clean,automatic,NaN,other,white,wi,2021-04-20T19:33:56-0500
425905,0,2014.0,ram,NaN,good,NaN,diesel,0.0,clean,automatic,NaN,other,white,wi,2021-04-20T19:30:08-0500
426002,0,2014.0,ram,NaN,good,NaN,diesel,0.0,clean,automatic,NaN,other,white,wi,2021-04-16T02:00:05-0500
426518,0,2014.0,ram,NaN,good,NaN,diesel,0.0,clean,automatic,NaN,other,white,wy,2021-04-21T22:45:37-0600
426638,0,2015.0,dodge,intern,good,NaN,diesel,0.0,clean,other,NaN,other,white,wy,2021-04-15T10:40:07-0600

<bound method DataFrame.count of         price    year manufacturer             model  condition    cylinders  \
538         0  2012.0    chevrolet  silverado 2500hd       good  8 cylinders
563         0  2006.0         ford              f550       good          NaN
694      3980  2013.0          kia               rio  excellent  4 cylinders
889         0  2006.0         jeep           liberty       good  6 cylinders
985         0  2011.0    chevrolet             cruze       good  4 cylinders
...       ...     ...          ...               ...        ...          ...
425904      0  2014.0          ram               NaN       good          NaN
425905      0  2014.0          ram               NaN       good          NaN
426002      0  2014.0          ram               NaN       good          NaN
426518      0  2014.0          ram               NaN       good          NaN
426638      0  2015.0        dodge            intern       good          NaN

          fuel  odometer title_status transmission drive   type paint_color  \
538        NaN       0.0        clean    automatic   rwd    NaN       white
563     diesel       0.0        clean        other   NaN  other       white
694        gas       0.0      missing       manual   fwd  sedan       white
889        gas       0.0        clean    automatic   4wd    SUV         red
985        gas       0.0        clean    automatic   rwd  sedan         red
...        ...       ...          ...          ...   ...    ...         ...
425904  diesel       0.0        clean    automatic   NaN  other       white
425905  diesel       0.0        clean    automatic   NaN  other       white
426002  diesel       0.0        clean    automatic   NaN  other       white
426518  diesel       0.0        clean    automatic   NaN  other       white
426638  diesel       0.0        clean        other   NaN  other       white

       state              posting_date
538       al  2021-04-27T19:50:22-0500
563       al  2021-04-27T14:10:03-0500
694       al  2021-04-24T13:50:11-0500
889       al  2021-04-22T17:40:42-0500
985       al  2021-04-20T13:20:43-0500
...      ...                       ...
425904    wi  2021-04-20T19:33:56-0500
425905    wi  2021-04-20T19:30:08-0500
426002    wi  2021-04-16T02:00:05-0500
426518    wy  2021-04-21T22:45:37-0600
426638    wy  2021-04-15T10:40:07-0600

[1965 rows x 15 columns]>

### Correction des types de données

### Gestion des doublons

### Gestion des abérrants (outlet)

## Axes d'analyse

## Vectorisation